.element__like {
    width: 22px;
    height: 19px;
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(../../../images/like.png);
    background-color: #fff;
    margin-top: 5px;
}

.element__like:hover {
    opacity: 0.5;
}