.profile__edit-button {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    background-image: url(../../../images/Edit\ Button.svg);
    background-color: black;
    border: 0;
    margin-left: 18px;
    margin-top: 15px;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 425px) {
    .profile__edit-button {
        margin-left: 10px;
        width: 18px;
        height: 18px;
        margin-top: 8px;
        background-image: url(../../../images/Edit\ Button2.svg);
    }
}