.popup__icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(../../../images/Close\ Icon.png);
    background-color: #000;
    background-size: contain;
    border: 0;
}

.popup__icon:hover {
    opacity: 0.6;
}

@media screen and (max-width: 550px) {
    .popup__icon {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}