.info-column {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}

@media screen and (max-width: 646px) {
    .info-column {
        margin: 0 auto;
        margin-top: 26px;
        min-width: 282px;
    }
}